
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    line-height: 1.6;
    background-color: #FEFBF3;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.card {
background: #ffffff;
padding: 50px;
margin-bottom: 20px;
border-radius: 8px;
box-shadow: 0 20px 50px rgba(0,0,0,0.1);
}

.nameheader {
text-align: center;
background: #ffffff;
padding: 20px;
margin-bottom: 20px;
border-radius: 8px;
box-shadow: 0 20px 50px rgba(0,0,0,0.1);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; 
    }
    th, td {
        text-align: center;
        border: 1px, solid black;
        padding: 8px
    }
    th {
        text-align: center;
        background-color: #ffec95;
        color: black;
    }
    td {
        text-align: center;
        background-color: rgb(255, 252, 221);
        color: rgb(0, 0, 0);
    }


form {
display: flex;
flex-direction: column;
gap: 1px;
}
input, textarea {
padding: 20px;
border: 1px solid #ccc;
border-radius: 4px;
}
button {
padding: 10px;
background-color: #ffec95;
color: white;
border: none;
cursor: pointer;
}
button:hover {
background-color:  rgb(255, 252, 221);
}

img {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%; /* Optional */
}

/* || Typography */
h1 {
text-align: center;
margin-bottom: 10px;
}
h2 {
margin-bottom: 10px;
margin-top: 20px;
}
p {
margin-bottom: 10px;
}

ul {
margin-left: 20px;
margin-bottom: 10px;
}

a {
text-decoration: none;
color: navy;
}
a:hover {
color: #005fa3;
}

.darkmode {
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    line-height: 1.6;
    background-color: transparent;
    color: black
}
.dark-mode {
    background-color:#0F172A;
    color:white;
    .card {
        background-color: #1E293B;
    }
    .skillsfont {
        font-family: "Comic Sans MS", "Comic Sans", sans-serif;
        line-height: 1.6;
        color: rgb(245, 245, 245);
        background-color: transparent;
    }
    .nameheader {
        text-align: center;
        background: #1E293B;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 20px 50px rgba(0,0,0,0.1);
        }
        .darkmode {
            font-family: "Comic Sans MS", "Comic Sans", sans-serif;
            line-height: 1.6;
            background-color: transparent;
            color: rgb(255, 255, 255)
        }
        .darktext {
            color:white
        }
        a {
            text-decoration: none;
            color: skyblue;
            }
            a:hover {
            color: #005fa3;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px; 
            }
            th, td {
                text-align: center;
                border: 1px, solid black;
                padding: 8px
            }
            th {
                text-align: center;
                background-color: #005fa3;
                color: whitesmoke;
            }
            td {
                text-align: center;
                background-color: whitesmoke;
                color: rgb(0, 0, 0);
            }
            button {
                padding: 10px;
                background-color: #005fa3;
                color: white;
                border: none;
                cursor: pointer;
                }
                button:hover {
                background-color:skyblue;
                }
                
    
    }

.hidden {
display:none;
}

.skillsfont {
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    line-height: 1.6;
    color: black;
    background-color: transparent   ;
}

